/* app.css */

@import "tailwindcss";

@layer base {
  html {
    height: 100%;
  }

  body {
    background-image: url('./images/background.jpg');
    background-size: cover;
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    font-family: 'Catamaran', sans-serif;
  }

  * {
    box-sizing: border-box;
  }
}

@layer components {
  .wrapper {
    @apply flex flex-col items-center;
  }

  .wrapper p {
    @apply text-white;
  }

  .score {
    @apply text-white text-2xl m-0;
  }

  h1 {
    @apply text-7xl text-center my-5;
    background-image: linear-gradient(180deg, #fff, #87f1ff);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(2px 2px #0085a3);
  }

  .start, .next {
    @apply cursor-pointer bg-gradient-to-b from-yellow-100 
    to-orange-300 border-2 border-yellow-600 shadow-lg rounded-2xl h-12 my-5 
    px-4 py-[7px] text-lg font-bold leading-none w-80 transition-all duration-200 
    hover:scale-105 hover:shadow-xl;
  }

  .start {
    @apply max-w-xs;
  }
}
