@import "tailwindcss";

html {
  height: 100%;
  font-family: "Agbalumo", serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0 20px;
  font-family: "Agbalumo", serif;
  box-sizing: border-box;
}
.bg-custom {
  background-image: url("/background.jpg");
  @apply bg-cover;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
